**/migrations/*
!**/migrations/__init__.py

db.sqlite3
.vscode/launch.json
__pycache__
env
*.pyc
*.jpg
*.png

*.pdf

# Ignorar archivos de Microsoft Office
*.xlsx
*.xlsb
*.xls
*.docx
*.doc
*.pptx
*.ppt
*.csv
*.accdb
*.mdb
*.one
*.ppsx
*.ppsm
*.potx
*.potm
*.pptm
*.xlt
*.xlsm
*.xlam
*.xla
*.xltm
*.xll
*.xltx
*.xld
*.xlc
*.odt
*.ods
*.odp


.env

**/settings/*
!**/settings/base.py
